EverProV2/EverProV2/Service References/WCF_AntaraIntegrationBBVA/AntaraService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wcf_IntegrationBBVA" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wcf_IntegrationBBVA" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfclasesResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clasesResult" nillable="true" type="tns:clasesResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclasesResult" nillable="true" type="tns:ArrayOfclasesResult" />
  <xs:complexType name="clasesResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdRadicadoBonita" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Monto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservacionesDactiloscopia" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clasesResult" nillable="true" type="tns:clasesResult" />
</xs:schema>