EverProV2/EverProV2/Service References/WCF_AntaraIntegrationBBVA/AntaraService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AntaraService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.100.120.8:90/AntaraService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.100.120.8:90/AntaraService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.100.120.8:90/AntaraService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wcf_IntegrationBBVA.Models" />
      <xsd:import schemaLocation="http://10.100.120.8:90/AntaraService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wcf_IntegrationBBVA" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAntaraService_LoadFormVCD_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadFormVCD" />
  </wsdl:message>
  <wsdl:message name="IAntaraService_LoadFormVCD_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadFormVCDResponse" />
  </wsdl:message>
  <wsdl:message name="IAntaraService_LoadFormVCDObserva_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadFormVCDObserva" />
  </wsdl:message>
  <wsdl:message name="IAntaraService_LoadFormVCDObserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadFormVCDObservaResponse" />
  </wsdl:message>
  <wsdl:message name="IAntaraService_LoadOficinas_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadOficinas" />
  </wsdl:message>
  <wsdl:message name="IAntaraService_LoadOficinas_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadOficinasResponse" />
  </wsdl:message>
  <wsdl:message name="IAntaraService_CalcularSim_DesembolsoLib_InputMessage">
    <wsdl:part name="parameters" element="tns:CalcularSim_DesembolsoLib" />
  </wsdl:message>
  <wsdl:message name="IAntaraService_CalcularSim_DesembolsoLib_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalcularSim_DesembolsoLibResponse" />
  </wsdl:message>
  <wsdl:message name="IAntaraService_spConsultarCamposCheckL_InputMessage">
    <wsdl:part name="parameters" element="tns:spConsultarCamposCheckL" />
  </wsdl:message>
  <wsdl:message name="IAntaraService_spConsultarCamposCheckL_OutputMessage">
    <wsdl:part name="parameters" element="tns:spConsultarCamposCheckLResponse" />
  </wsdl:message>
  <wsdl:message name="IAntaraService_spConsultarCamposAnalisisLib_InputMessage">
    <wsdl:part name="parameters" element="tns:spConsultarCamposAnalisisLib" />
  </wsdl:message>
  <wsdl:message name="IAntaraService_spConsultarCamposAnalisisLib_OutputMessage">
    <wsdl:part name="parameters" element="tns:spConsultarCamposAnalisisLibResponse" />
  </wsdl:message>
  <wsdl:message name="IAntaraService_HerenciaMinisabanaLibranzas_InputMessage">
    <wsdl:part name="parameters" element="tns:HerenciaMinisabanaLibranzas" />
  </wsdl:message>
  <wsdl:message name="IAntaraService_HerenciaMinisabanaLibranzas_OutputMessage">
    <wsdl:part name="parameters" element="tns:HerenciaMinisabanaLibranzasResponse" />
  </wsdl:message>
  <wsdl:message name="IAntaraService_spConsultarCamposAnalisisCon_InputMessage">
    <wsdl:part name="parameters" element="tns:spConsultarCamposAnalisisCon" />
  </wsdl:message>
  <wsdl:message name="IAntaraService_spConsultarCamposAnalisisCon_OutputMessage">
    <wsdl:part name="parameters" element="tns:spConsultarCamposAnalisisConResponse" />
  </wsdl:message>
  <wsdl:message name="IAntaraService_spConsultarCamposAnalisisVeh_InputMessage">
    <wsdl:part name="parameters" element="tns:spConsultarCamposAnalisisVeh" />
  </wsdl:message>
  <wsdl:message name="IAntaraService_spConsultarCamposAnalisisVeh_OutputMessage">
    <wsdl:part name="parameters" element="tns:spConsultarCamposAnalisisVehResponse" />
  </wsdl:message>
  <wsdl:message name="IAntaraService_spConsultarCamposAutoSave_InputMessage">
    <wsdl:part name="parameters" element="tns:spConsultarCamposAutoSave" />
  </wsdl:message>
  <wsdl:message name="IAntaraService_spConsultarCamposAutoSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:spConsultarCamposAutoSaveResponse" />
  </wsdl:message>
  <wsdl:message name="IAntaraService_spConsultarCamposActualizacionclientes_InputMessage">
    <wsdl:part name="parameters" element="tns:spConsultarCamposActualizacionclientes" />
  </wsdl:message>
  <wsdl:message name="IAntaraService_spConsultarCamposActualizacionclientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:spConsultarCamposActualizacionclientesResponse" />
  </wsdl:message>
  <wsdl:message name="IAntaraService_spConsultarEnviosDesembolsos_InputMessage">
    <wsdl:part name="parameters" element="tns:spConsultarEnviosDesembolsos" />
  </wsdl:message>
  <wsdl:message name="IAntaraService_spConsultarEnviosDesembolsos_OutputMessage">
    <wsdl:part name="parameters" element="tns:spConsultarEnviosDesembolsosResponse" />
  </wsdl:message>
  <wsdl:message name="IAntaraService_spConsultarPendientes_InputMessage">
    <wsdl:part name="parameters" element="tns:spConsultarPendientes" />
  </wsdl:message>
  <wsdl:message name="IAntaraService_spConsultarPendientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:spConsultarPendientesResponse" />
  </wsdl:message>
  <wsdl:message name="IAntaraService_spConsultarCamposHipotecario_InputMessage">
    <wsdl:part name="parameters" element="tns:spConsultarCamposHipotecario" />
  </wsdl:message>
  <wsdl:message name="IAntaraService_spConsultarCamposHipotecario_OutputMessage">
    <wsdl:part name="parameters" element="tns:spConsultarCamposHipotecarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IAntaraService">
    <wsdl:operation name="LoadFormVCD">
      <wsdl:input wsaw:Action="http://tempuri.org/IAntaraService/LoadFormVCD" message="tns:IAntaraService_LoadFormVCD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAntaraService/LoadFormVCDResponse" message="tns:IAntaraService_LoadFormVCD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadFormVCDObserva">
      <wsdl:input wsaw:Action="http://tempuri.org/IAntaraService/LoadFormVCDObserva" message="tns:IAntaraService_LoadFormVCDObserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAntaraService/LoadFormVCDObservaResponse" message="tns:IAntaraService_LoadFormVCDObserva_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadOficinas">
      <wsdl:input wsaw:Action="http://tempuri.org/IAntaraService/LoadOficinas" message="tns:IAntaraService_LoadOficinas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAntaraService/LoadOficinasResponse" message="tns:IAntaraService_LoadOficinas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalcularSim_DesembolsoLib">
      <wsdl:input wsaw:Action="http://tempuri.org/IAntaraService/CalcularSim_DesembolsoLib" message="tns:IAntaraService_CalcularSim_DesembolsoLib_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAntaraService/CalcularSim_DesembolsoLibResponse" message="tns:IAntaraService_CalcularSim_DesembolsoLib_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="spConsultarCamposCheckL">
      <wsdl:input wsaw:Action="http://tempuri.org/IAntaraService/spConsultarCamposCheckL" message="tns:IAntaraService_spConsultarCamposCheckL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAntaraService/spConsultarCamposCheckLResponse" message="tns:IAntaraService_spConsultarCamposCheckL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="spConsultarCamposAnalisisLib">
      <wsdl:input wsaw:Action="http://tempuri.org/IAntaraService/spConsultarCamposAnalisisLib" message="tns:IAntaraService_spConsultarCamposAnalisisLib_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAntaraService/spConsultarCamposAnalisisLibResponse" message="tns:IAntaraService_spConsultarCamposAnalisisLib_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HerenciaMinisabanaLibranzas">
      <wsdl:input wsaw:Action="http://tempuri.org/IAntaraService/HerenciaMinisabanaLibranzas" message="tns:IAntaraService_HerenciaMinisabanaLibranzas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAntaraService/HerenciaMinisabanaLibranzasResponse" message="tns:IAntaraService_HerenciaMinisabanaLibranzas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="spConsultarCamposAnalisisCon">
      <wsdl:input wsaw:Action="http://tempuri.org/IAntaraService/spConsultarCamposAnalisisCon" message="tns:IAntaraService_spConsultarCamposAnalisisCon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAntaraService/spConsultarCamposAnalisisConResponse" message="tns:IAntaraService_spConsultarCamposAnalisisCon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="spConsultarCamposAnalisisVeh">
      <wsdl:input wsaw:Action="http://tempuri.org/IAntaraService/spConsultarCamposAnalisisVeh" message="tns:IAntaraService_spConsultarCamposAnalisisVeh_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAntaraService/spConsultarCamposAnalisisVehResponse" message="tns:IAntaraService_spConsultarCamposAnalisisVeh_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="spConsultarCamposAutoSave">
      <wsdl:input wsaw:Action="http://tempuri.org/IAntaraService/spConsultarCamposAutoSave" message="tns:IAntaraService_spConsultarCamposAutoSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAntaraService/spConsultarCamposAutoSaveResponse" message="tns:IAntaraService_spConsultarCamposAutoSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="spConsultarCamposActualizacionclientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IAntaraService/spConsultarCamposActualizacionclientes" message="tns:IAntaraService_spConsultarCamposActualizacionclientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAntaraService/spConsultarCamposActualizacionclientesResponse" message="tns:IAntaraService_spConsultarCamposActualizacionclientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="spConsultarEnviosDesembolsos">
      <wsdl:input wsaw:Action="http://tempuri.org/IAntaraService/spConsultarEnviosDesembolsos" message="tns:IAntaraService_spConsultarEnviosDesembolsos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAntaraService/spConsultarEnviosDesembolsosResponse" message="tns:IAntaraService_spConsultarEnviosDesembolsos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="spConsultarPendientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IAntaraService/spConsultarPendientes" message="tns:IAntaraService_spConsultarPendientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAntaraService/spConsultarPendientesResponse" message="tns:IAntaraService_spConsultarPendientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="spConsultarCamposHipotecario">
      <wsdl:input wsaw:Action="http://tempuri.org/IAntaraService/spConsultarCamposHipotecario" message="tns:IAntaraService_spConsultarCamposHipotecario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAntaraService/spConsultarCamposHipotecarioResponse" message="tns:IAntaraService_spConsultarCamposHipotecario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAntaraService" type="tns:IAntaraService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadFormVCD">
      <soap:operation soapAction="http://tempuri.org/IAntaraService/LoadFormVCD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadFormVCDObserva">
      <soap:operation soapAction="http://tempuri.org/IAntaraService/LoadFormVCDObserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadOficinas">
      <soap:operation soapAction="http://tempuri.org/IAntaraService/LoadOficinas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularSim_DesembolsoLib">
      <soap:operation soapAction="http://tempuri.org/IAntaraService/CalcularSim_DesembolsoLib" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="spConsultarCamposCheckL">
      <soap:operation soapAction="http://tempuri.org/IAntaraService/spConsultarCamposCheckL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="spConsultarCamposAnalisisLib">
      <soap:operation soapAction="http://tempuri.org/IAntaraService/spConsultarCamposAnalisisLib" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HerenciaMinisabanaLibranzas">
      <soap:operation soapAction="http://tempuri.org/IAntaraService/HerenciaMinisabanaLibranzas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="spConsultarCamposAnalisisCon">
      <soap:operation soapAction="http://tempuri.org/IAntaraService/spConsultarCamposAnalisisCon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="spConsultarCamposAnalisisVeh">
      <soap:operation soapAction="http://tempuri.org/IAntaraService/spConsultarCamposAnalisisVeh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="spConsultarCamposAutoSave">
      <soap:operation soapAction="http://tempuri.org/IAntaraService/spConsultarCamposAutoSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="spConsultarCamposActualizacionclientes">
      <soap:operation soapAction="http://tempuri.org/IAntaraService/spConsultarCamposActualizacionclientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="spConsultarEnviosDesembolsos">
      <soap:operation soapAction="http://tempuri.org/IAntaraService/spConsultarEnviosDesembolsos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="spConsultarPendientes">
      <soap:operation soapAction="http://tempuri.org/IAntaraService/spConsultarPendientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="spConsultarCamposHipotecario">
      <soap:operation soapAction="http://tempuri.org/IAntaraService/spConsultarCamposHipotecario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AntaraService">
    <wsdl:port name="BasicHttpBinding_IAntaraService" binding="tns:BasicHttpBinding_IAntaraService">
      <soap:address location="http://10.100.120.8:90/AntaraService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>